* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, main {
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* *******************
** Header Styles **
******************* */

.header {
    width: 100%;
    background-color: #DB4C3F;
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.header i {
    color: white;
    padding: 7px;
    transition: 0.2s;
    cursor: pointer;
}

.header i:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.header-btns {
    margin-left: 50px;
}

.fa-cog {
    margin-right: 20px;
}


/* *******************
** Sidebar Styles **
******************* */

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #F7F7F7;
    border-right: solid 1px lightgray;

    display: flex;
    flex-direction: column;
    padding: 80px 47px; 
    transition: 0.5s;
}

.sidebar-active {
    transform: translate3d(-300px, 0, 0);
}

.sidebar span {
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.sidebar span:hover {
    background-color: #fff;
}

.sidebar i {
    margin-right: 20px;
}

.fa-inbox {
    color: #5596F5;
}

.fa-calendar-check {
    color: #259B12;
}

.fa-tasks {
    color: #AB21E0;
}

#inbox {
    margin-left: -3px;
}

#projects {
    margin-left: -2px;
}

.sidebar .inactive-font {
    font-weight: 400;
}


/* *******************
** Modal Styles **
******************* */

.modal-container {
    position: fixed;
    width: 100%;
    height: 80%;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    max-width: 600px;
    height: 300px;
    /* padding: 25px; */

    background-color: #fff;
    border: solid 1px lightgray;
    border-radius: 0.6em;

    display: flex;
    flex-direction: column;
}

.modal-header {
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px;
    padding: 25px 25px 15px 25px;
    display: flex;
    justify-content: space-between;
}

.fa-times {
    opacity: 0.5;
}

.modal-inner-container {
    display: flex;
    padding: 15px 25px 0 25px;
    width: 100%;
    height: 100%;
}

.inner-item-two {
    width: 70%;
}

.inner-item-one {
    width: 100%;
    padding: 0 25px 0 0;
}

.modal input,
.modal select,
.modal textarea {
    outline: none;
    border: solid 1px lightgray;
    padding: 3px 7px 3px 7px;
    margin: 5px 1px 18px 0px;
    transition: 0.1s;
    border-radius: 0.3em;

    width: 100%;
}

.modal input:focus,
.modal select:focus,
.modal textarea:focus {
    box-shadow: 0 0 5px rgba(219, 76, 63, 1);
}

input[type="date"] {
    margin: 5px 1px 12px 0;
}

.modal-close {
    outline: none;
    border: solid 1px gray;
    background-color: #fff;
    color: gray;
    padding: 5px 10px;
    border-radius: 0.3em;
}

.modal-add {
    outline: none;
    border: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 0.3em;
    background-color: #DB4C3F;
}

/* *******************
** Main Container Styles **
******************* */

.container {
    padding: 80px 80px 0 0;
    margin-left: 370px;
    transition: 0.5s;
}

.container-active {
    margin-left: 160px;
}

.inactive {
    display: none;
}

.add-task {
    opacity: 0.6;
    transition: 0.2s;
    cursor: pointer;
}

.add-task:hover {
    opacity: 1;
}

.fa-plus {
    padding-right: 8px;
}